<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">
    <!--
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

            <!- Navegacion por funcion ->
            <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">
                Ver más...
            </button>

            <!- Navegacin por link ->
            <!- Al route se le pasa el listado de parametros, en este caso la URL y el ID (heroe/:id) ->
            <!- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver más...</a> ->

        </div>
    </div>
-->

    <!-- Le paso la variable heroa al input  -->
    <!-- Del hijo escucho el evento heroeSeleccionado (que devuleve en el evento el indice) -->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>


</div>